<div class="container-fluid">

    <!-- alert -->
    <%  if (alert.message != "")  { %>
    <div class="alert alert-<%= alert.status  %> " role="alert">
        <%= alert.message  %>
    </div>
    <% } %>

    <h1 class="h3 mb-4 text-gray-800">Village</h1>
    <!-- show item -->
    <% if( action == "show_item" ){ %>
    <%- include("table_view_item")  %>
    <% } %>

    <!-- show detail item -->
    <% if( action == "show_detail_image" ){ %>
    <%- include("view_detail_item")  %>

    <% } %>

    <% if ( action == "editItem") { %>
    <%- include("editItem") %>
    <% } %>




</div>